.nav2 {
    align-items: left;
}

.nav3 {
    align-items: right;
    font-display: right;
}

.name {
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.backPage {
    margin-left: 102vh;
    float: left;
    color: black;
    margin-top: 2vh;
    font-family: Arial, Helvetica, sans-serif;
}

.nextPage {
    float: left;
    margin-left: 14vh;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2vh;
}

.img1 {
    background-color: white;
    height: 34vh;
    width: 18vw;
    margin: 0 auto;
    overflow: hidden;
    border: solid rgb(31, 24, 235) 4px;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.t1 {
    width: 50%;
    background-color: rgb(30, 217, 9);
}

.t2 {
    width: 50%;
    background-color: rgb(252, 29, 0);
}

.t3 {
    width: 50%;
    background-color: rgb(252, 0, 59);
}

.t4 {
    width: 50%;
    background-color: rgb(193, 252, 0);
}

.t5 {
    width: 50%;
    background-color: lawngreen;
}

.t6 {
    width: 50%;
    background-color: rgb(252, 126, 0);
}