.header{
    height: 50px;
    background-color: rgb(38, 232, 38);
}

.nav1{
    height: 50px;
    background-color: lawngreen;
}

.card{
    height: 200px;
    width: 200px;    
    margin: 10px 4%;
    display: flex;
    flex-direction : row;
    display: inline-block;    
    border: 8px solid red;
    
   
    
}

body{
    width:100%;
    background-color: aqua;
}
h1{
    text-align: center;
    font: arial black;
}